{% extends "bootstrap/base.html" %}

{% block title %}Tech news - Hackernews{% endblock %}
{% block head %}
{{super()}}
{% block favicon %}<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">{% endblock %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
{% block feeds %}{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}
  <h1>Hackernews, dobreprogramy, antyweb, spidersweb (soon)!</h1>
    <h2>List of random articles:</h2>
    <br>

  {% for item in data %}
  <div class="panel panel-success">
  <div class="panel-body">
    <div class="list-group">
      <h3 style="text-align: center" class="list-group-item-heading"><a href="{{ item.url }}">{{ item.title }}</a></h3>
    </div>
  </div>
  <div class="panel-footer">
    <ul class="list-group">
        <p class="list-group-item-heading">Score: <b>{{ item.score }}</b></p>
        <p class="list-group-item-heading">Post ID: <b>{{ item.id }}</b></p>
        <p class="list-group-item-heading">Date added: <b>{{ item.time }}</b></p>
        <p>Author: <b>{{ item.by }}</b></p>
    </ul>
  </div>
</div>
  <br>
  {% endfor %}

{{super()}}
{%- block footer %}
<footer><b>&copy; 2016 Awesome, Inc.</b></footer>
{%- endblock footer %}
{% endblock %}



