{% extends 'base.html' %}

{% block content %}
<h1>Hackernews - newstories</h1>
<br><br><br>
<h3>List of new articles:</h3>
<br>
{% for item in data %}
  <div class="panel panel-success">
  <div class="panel-body">
    <div class="list-group">
      <h3 style="text-align: center" class="list-group-item-heading"><a href="{{ item.url }}">{{ item.title }}</a></h3>
    </div>
  </div>
  <div class="panel-footer">
    <ul class="list-group">
        <p class="list-group-item-heading">Score: <b>{{ item.score }}</b></p>
        <p class="list-group-item-heading">Post ID: <b>{{ item.id }}</b></p>
        <p class="list-group-item-heading">Date added: <b>{{ item.time }}</b></p>
        <p>Author: <b>{{ item.by }}</b></p>
    </ul>
  </div>
</div>
<hr>
  {% endfor %}
<div class='pagination-div'> 
	<div class='inner'>
  	{{ pagination.links }}
  </div>
</div>
{% endblock %}